<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>curriculumDesign</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.GHD.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCheckServlet</servlet-name>
    <servlet-class>com.GHD.servlet.UserCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCheckServlet</servlet-name>
    <url-pattern>/UserCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCodeServlet</servlet-name>
    <servlet-class>com.GHD.servlet.GetCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCodeServlet</servlet-name>
    <url-pattern>/GetCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>com.GHD.servlet.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/CheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetMailBoxServlet</servlet-name>
    <servlet-class>com.GHD.servlet.SetMailBoxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetMailBoxServlet</servlet-name>
    <url-pattern>/SetMailBoxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MailBoxCheckServlet</servlet-name>
    <servlet-class>com.GHD.servlet.MailBoxCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailBoxCheckServlet</servlet-name>
    <url-pattern>/MailBoxCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.GHD.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SwitchIndexServlet</servlet-name>
    <servlet-class>com.GHD.servlet.SwitchIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchIndexServlet</servlet-name>
    <url-pattern>/SwitchIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.GHD.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserMessagesServlet</display-name>
    <servlet-name>UserMessagesServlet</servlet-name>
    <servlet-class>com.GHD.servlet.UserMessagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMessagesServlet</servlet-name>
    <url-pattern>/UserMessagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserMessagesServlet</display-name>
    <servlet-name>UpdateUserMessagesServlet</servlet-name>
    <servlet-class>com.GHD.servlet.UpdateUserMessagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserMessagesServlet</servlet-name>
    <url-pattern>/UpdateUserMessagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsFileServlet</display-name>
    <servlet-name>IsFileServlet</servlet-name>
    <servlet-class>com.GHD.servlet.IsFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsFileServlet</servlet-name>
    <url-pattern>/IsFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RenovatePasswordServlet</display-name>
    <servlet-name>RenovatePasswordServlet</servlet-name>
    <servlet-class>com.GHD.servlet.RenovatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenovatePasswordServlet</servlet-name>
    <url-pattern>/RenovatePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePasswordServlet</display-name>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <servlet-class>com.GHD.servlet.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <url-pattern>/UpdatePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SwitchPublishGoodsServlet</display-name>
    <servlet-name>SwitchPublishGoodsServlet</servlet-name>
    <servlet-class>com.GHD.servlet.SwitchPublishGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchPublishGoodsServlet</servlet-name>
    <url-pattern>/SwitchPublishGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishGoodsServlet</display-name>
    <servlet-name>PublishGoodsServlet</servlet-name>
    <servlet-class>com.GHD.servlet.PublishGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishGoodsServlet</servlet-name>
    <url-pattern>/PublishGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectGoodsServlet</display-name>
    <servlet-name>SelectGoodsServlet</servlet-name>
    <servlet-class>com.GHD.servlet.SelectGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectGoodsServlet</servlet-name>
    <url-pattern>/SelectGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SwitchShoppingServlet</display-name>
    <servlet-name>SwitchShoppingServlet</servlet-name>
    <servlet-class>com.GHD.servlet.SwitchShoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchShoppingServlet</servlet-name>
    <url-pattern>/SwitchShoppingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SwitchGoodsDetailServlet</display-name>
    <servlet-name>SwitchGoodsDetailServlet</servlet-name>
    <servlet-class>com.GHD.servlet.SwitchGoodsDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchGoodsDetailServlet</servlet-name>
    <url-pattern>/SwitchGoodsDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertGoodsCartServlet</display-name>
    <servlet-name>InsertGoodsCartServlet</servlet-name>
    <servlet-class>com.GHD.servlet.InsertGoodsCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertGoodsCartServlet</servlet-name>
    <url-pattern>/InsertGoodsCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SwitchGoodsCartServlet</display-name>
    <servlet-name>SwitchGoodsCartServlet</servlet-name>
    <servlet-class>com.GHD.servlet.SwitchGoodsCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SwitchGoodsCartServlet</servlet-name>
    <url-pattern>/SwitchGoodsCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGoodsCartServlet</display-name>
    <servlet-name>DeleteGoodsCartServlet</servlet-name>
    <servlet-class>com.GHD.servlet.DeleteGoodsCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGoodsCartServlet</servlet-name>
    <url-pattern>/DeleteGoodsCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageGoodsServlet</display-name>
    <servlet-name>ManageGoodsServlet</servlet-name>
    <servlet-class>com.GHD.servlet.ManageGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageGoodsServlet</servlet-name>
    <url-pattern>/ManageGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGoodsServlet</display-name>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <servlet-class>com.GHD.servlet.DeleteGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <url-pattern>/DeleteGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishGoodsToIndexServlet</display-name>
    <servlet-name>PublishGoodsToIndexServlet</servlet-name>
    <servlet-class>com.GHD.servlet.PublishGoodsToIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishGoodsToIndexServlet</servlet-name>
    <url-pattern>/PublishGoodsToIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexGoodsServlet</display-name>
    <servlet-name>IndexGoodsServlet</servlet-name>
    <servlet-class>com.GHD.servlet.IndexGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexGoodsServlet</servlet-name>
    <url-pattern>/IndexGoodsServlet</url-pattern>
  </servlet-mapping>
</web-app>